$def with(name)
<html>


<head>
	<meta charset="utf-8">
	<title>瓜皮比价:做中国最好的比价网站</title>
	<style>
		html,body{	
			margin: 0 ;
			padding: 0 ;
			background-image: url('file:///home/sry/Downloads/BHW/templates/4.jpeg' );
			background-repeat: no-repeat ;
			background-attachment: fixed;

			
			}
	</style>

<p><div id="user">$name</div></p>
</head>

<body onload="delLocalStorage()" >

<form action="voice_action" method="GET" style="margin-left:82px;margin-right:100px;margin-top:230px;margin-bottom:40px">
	<p>请点击右上角regiest完成录音注册</p>    
	<input type="submit" value="录音完毕" style="margin-left:0px">
    
</form>
</body>
</html>

